/src/main/java/edu/cmu/tetrad/search/BuildPureClusters.java
# Created by .ignore support plugin (hsz.mobi)

# IntelliJ IDEA files.
.idea/**
tetrad-gui/tetrad-gui.iml
tetrad-lib/tetrad-lib.iml
tetrad.iml
