/src/main/java/edu/cmu/tetrad/search/BuildPureClusters.java
# Created by .ignore support plugin (hsz.mobi)

# IntelliJ IDEA files.
.idea/**
tetrad-gui/tetrad-gui.iml
tetrad-lib/tetrad-lib.iml
tetrad-cli/tetrad-cli.iml
causal-cmd/causal-cmd.iml
tetrad.iml
*.iml
analysis/AnalysisScriptAlpha.java
analysis/TestFunctions.java
tetrad-gui/build
tetrad-gui/build/**

.settings/*
causal-cmd/.settings/*
tetrad-gui/.settings/*
tetrad-lib/.settings/*
causal-cmd/build/*
tetrad-gui/build/*
tetrad-lib/build/*

tetrad-gui/target/*
tetrad-lib/target/*

tetrad-gui/bin/*
tetrad-lib/bin/*
